<% provide(:title, 'About') %>
<h1>About</h1>

<hr/><h3>What is YardSale?</h3><br>
<p>
  YardSale is the place to post and find yard sales from across the web. Save what you like on things you want and search through other collections of yard sales to find cool stuff!
</p>
<p>
  To get started, <%= link_to "sign up", signup_path %> and start posting and searching for yard sales.
</p>

<br><h3>The YardSale Team</h3><br>
<p>
  We are a group of six students of <%= link_to "California State University, Chico", "http://www.csuchico.edu" %>. We are a small team of developers rethinking the way people buy and sell things locally.
</p>
