<% provide(:title, 'Help') %>
<h1>Help</h1>

<hr/><h3>Posting Yard Sales</h3><br>
<p><b class="caret"></b> How do I post yard sales to my YardSale? </p>
<p>
   The only way to post yard sales to YardSale is by clicking on the blue "Add a yardsale" button at the bottom of the left sidebar of any page.
</p>

<br><h3>Following</h3><br>
<p>
  coming soon
</p>

<br><h3>Account Settings</h3><br>
<p>
  coming soon
</p>

<br><h3>Tools and Buttons</h3><br>
<p>
  coming soon
</p>

<br><h3>YardSale Links and Contact Information</h3><br>
<p>
  coming soon
</p>
