<% provide(:title, 'All users') %>
<h1>All users</h1>

<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Yardsales</th>
      <th>Comments</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
<%= will_paginate %>
