<% provide(:title, 'All categories') %>
<h1>All categories</h1>

<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Category</th>
      <th>Number of yardsales</th>
      <% if current_user.admin? %>
        <th>Actions</th>
      <% else %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category %></td>
        <td><%= Categorising.where(:category_id => category.id).count %></td>
        <td>
          <%= link_to category, :class => "btn btn-success" do %>
            <i class="icon-eye-open"></i> view
          <% end %>
          <% if current_user.admin? %>
            <%= link_to category_path(category), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger" do %>
              <i class="icon-trash"></i> delete
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
