<footer class="footer">
  <small> Copyright &copy; 2012 Abdullah Talakey. All rights reserved. </small>
  <nav>
    <ul>
      <li>
        <%= link_to about_path do %>
          <i class="icon-info-sign"></i> About
        <% end %>
      </li>
      <li>
        <%= link_to contact_path do %>
          <i class="icon-envelope"></i> Contact
        <% end %>
      </li>
      <li>
        <%= link_to help_path do %>
          <i class="icon-list-alt"></i> Help
        <% end %>
      </li>
      <li> |
        <%= link_to "#" do %>
          <i class="icon-arrow-up"></i> Back to top
        <% end %>
      </li>
    </ul>
  </nav>
</footer>
